body {
    margin: 20px;
    padding: 10px;
    font-family: "Tahoma", sans-serif;
    background-color: rgba(161, 173, 171, 0.47);
    border: 1px solid rgba(75, 112, 58, 0.47);
}

h1, p {
    margin: 40px;
}