body {
    background: rgba(239, 204, 175, 0.62);
    min-height: 100vh;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #fefae0;
    font-family: Verdana, Arial, sans-serif;
    margin: 20px auto;
    width: 450px;
    font-size: 3rem;
    text-align: center;
    border-bottom: 10px double #bc6c25;
}

img {
    width: 450px;
    height: 300px;
    margin: 10px;
    border: 10px solid #fefae0;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.upload {
    margin: 0 auto;
}

/** Страница авторизации */
.login-form {
    background: #f6d3d3;
    width: 550px;
    margin: 65px auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}
.login-form h1 {
    padding: 35px 35px 0 35px;
    font-weight: 300;
}
.login-form .content {
    padding: 35px;
    text-align: center;
}
.login-form .input-field {
    padding: 12px 5px;
}
.login-form .input-field input {
    font-size: 16px;
    display: block;
    font-family: 'Verdana', sans-serif;
    width: 100%;
    padding: 10px;
    border: 0;
    border-bottom: 1px solid #747474;
    border-radius: 10px;
    outline: none;
    -webkit-transition: all .2s;
    transition: all .2s;
    box-sizing: border-box;
}

.login-form .input-field input:focus {
    border-color: #222;
}
.login-form a.link {
    text-decoration: none;
    color: #747474;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 20px;
}
.login-form .action {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

button {
    width: 100%;
    border: none;
    padding: 18px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    background: #e8e9ec;
    color: #777;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
}

button:hover {
    background: #d8d8d8;
}