body {
  margin: 20px;
  padding: 10px;
  position: relative;
  font-family: "Tahoma", sans-serif;
  background-color: #fae6a9;
  border: 1px solid #8e6e53;
}

/* селектор класса */
.aquamarine {
  background: aquamarine;
}

/* селектор идентификатора */
#title {
  background-color: rgb(135, 107, 107);
}